@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.heading1 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 45px;
}

.card {
    background-color: #00f07d;
    border-radius: 15px;
    width: 530px;
    height: 500px;
    padding: 50px;
    margin: 100px auto;
    padding-top: 130px;
}

.para {
    font-family: "Roboto";
    font-size: 15px;
    color: black;
    font-weight: 501;
}

.butto {
    font-family: "Roboto";
    font-weight: 550;
    color: black;
    font-size: 18px;
    padding: 10px;
    border-radius: 100px;
    border: none;
    margin-top: 5px;
    width: 215px;
}